html, body, p, img, ul, li {
    padding: 0;
    margin: 0;
	font-family:"Microsoft YaHei","微软雅黑";
}

ul,
li {
    list-style-type: none;
}

.content {
    width: 100%;
    height: 100%;
    /* top: 20%;
    left: 20%; */
    overflow: hidden;
    position: absolute;
	transform-style:preserve-3d;
	backface-visibility:hidden;
	-moz-transform-style:preserve-3d;
	-moz-backface-visibility:hidden;
	-webkit-transform-style:preserve-3d;
	-webkit-backface-visibility:hidden;
}

.content-wrap > li {
    background: #CAE1FF;
    color: red;
    float: left;
    position: relative;
}
/*男孩*/
.charector {
    background: url("../images/boy.png") -0px -291px no-repeat;
    width: 151px;
    height: 291px;
    position: absolute;
    left: 0%;
    top: 55%;
}

/*背景图*/
.a_background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.a_background_top {
    width: 100%;
    height: 71.6%;
    background-image: url("../images/background/a_background_top.png");
    background-size: 100% 100%;
}

.a_background_middle {
    width: 100%;
    height: 13.1%;
    background-image: url("../images/background/a_background_middle.png");
    background-size: 100% 100%;
}

.a_background_botton {
    width: 100%;
    height: 15.3%;
    background-image: url("../images/background/a_background_botton.png");
    background-size: 100% 100%;
}

.b_background {
    width: 100%;
    height: 100%;
    background-image: url("../images/QixiB-dark.png");
    background-size: 100% 100%;
    position: absolute;
}

.b_background_preload {
    width: 100%;
    height: 100%;
    background-image: url("../images/QixiB-bright.png");
    background-size: 100% 100%;
    position: absolute;
    display: none;
}

.lamp-light {
    display: block;
}

.c_background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.c_background_top {
    width: 100%;
    height: 71.6%;
    background-image: url("../images/background/c_background_top.png");
    background-size: 100% 100%;
}

.c_background_middle {
    width: 100%;
    height: 13.1%;
    background-image: url("../images/background/c_background_middle.png");
    background-size: 100% 100%;
}

.c_background_botton {
    width: 100%;
    height: 15.3%;
    background-image: url("../images/background/c_background_botton.png");
    background-size: 100% 100%;
}
/*走路*/
.slowWalk {
    /* 填入动画样式规则 */
    /*规定 @keyframes 动画的名称。*/
    -webkit-animation-name: person-slow;
    /*规定动画完成一个周期所花费的秒或毫秒。默认是 0*/
    -webkit-animation-duration: 950ms;
    /*规定动画被播放的次数。默认是 1。 infinite(循环播放)*/
    -webkit-animation-iteration-count: infinite;
    /*动画切换的方式是一帧一帧的改变*/
    -webkit-animation-timing-function: steps(1, start);
    -moz-animation-name: person-slow;
    -moz-animation-duration: 950ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: steps(1, start);
    -ms-animation-name: person-slow;
    -ms-animation-duration: 950ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: steps(1, start);
    animation-name: person-slow;
    animation-duration: 950ms;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1, start);

}

/* 普通慢走 */
@keyframes person-slow {
    0% {
        background-position: -0px -291px;
    }
    25% {
        background-position: -602px -0px;
    }
    50% {
        background-position: -302px -291px;
    }
    75% {
        background-position: -151px -291px;
    }
    100% {
        background-position: -0px -291px;
    }
}
@-webkit-keyframes person-slow {
    0% {
        background-position: -0px -291px;
    }
    25% {
        background-position: -602px -0px;
    }
    50% {
        background-position: -302px -291px;
    }
    75% {
        background-position: -151px -291px;
    }
    100% {
        background-position: -0px -291px;
    }
}

@-moz-keyframes person-slow {
    0% {
        background-position: -0px -291px;
    }
    25% {
        background-position: -602px -0px;
    }
    50% {
        background-position: -302px -291px;
    }
    75% {
        background-position: -151px -291px;
    }
    100% {
        background-position: -0px -291px;
    }
}
@-ms-keyframes person-slow {
    0% {
        background-position: -0px -291px;
    }
    25% {
        background-position: -602px -0px;
    }
    50% {
        background-position: -302px -291px;
    }
    75% {
        background-position: -151px -291px;
    }
    100% {
        background-position: -0px -291px;
    }
}

/* 人物暂停 */
.pauseWalk {
	animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
}
/*太阳*/
.sun {
    background: url("../images/sun.png") no-repeat;
    position: absolute;
    z-index: 1;
    top: -30px;
    height: 201px;
    width: 201px;
    right: 10%;

	animation: rotation 30s;
    -webkit-animation: rotation 30s;
    -moz-animation: rotation 30s;
    -ms-animation: rotation 30s;
}
@keyframes rotation {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-2000px, 400px);
    }
}
@-webkit-keyframes rotation {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-2000px, 400px);
    }
}
@-moz-keyframes rotation {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-2000px, 400px);
    }
}
@-ms-keyframes rotation {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-2000px, 400px);
    }
}
/*云*/
.cloudArea .cloud {
    position: absolute;
    z-index: 1;
}

.cloud2 {
    background: url("../images/cloud1.png") no-repeat;
    width: 181px;
    height: 101px;
    top: 15%;
    left: -5%;
    animation: rotation2 35s;
    -webkit-animation: rotation2 35s;
    -moz-animation: rotation2 35s;
    -ms-animation: rotation2 35s;
}
@keyframes rotation1 {
    0% {
        left: 10%;
    }
    100% {
        left: -100%;
    }
}
@-webkit-keyframes rotation1 {
    0% {
        left: 10%;
    }
    100% {
        left: -100%;
    }
}
@-moz-keyframes rotation1 {
    0% {
        left: 10%;
    }
    100% {
        left: -100%;
    }
}
@-ms-keyframes rotation1 {
    0% {
        left: 10%;
    }
    100% {
        left: -100%;
    }
}
@keyframes rotation2 {
    0% {
        left: -5%;
    }
    100% {
        left: 100%
    }
}
@-webkit-keyframes rotation2 {
    0% {
        left: -5%;
    }
    100% {
        left: 100%
    }
}
@-moz-keyframes rotation2 {
    0% {
        left: -5%;
    }
    100% {
        left: 100%
    }
}
@-ms-keyframes rotation2 {
    0% {
        left: -5%;
    }
    100% {
        left: 100%
    }
}
.cloud1 {
    background: url("../images/cloud2.png") no-repeat;
    width: 301px;
    height: 140px;
    left: 10%;
    animation: rotation1 35s;
    -webkit-animation: rotation1 35s;
    -moz-animation: rotation1 35s;
    -ms-animation: rotation1 35s;
}

/*第二幅*/
.shop {
    width: 39.5%;
    height: 35.5%;
    position: absolute;
    left: 29%;
    top: 36.5%;
}

.door {
    position: absolute;
    width: 32%;
    height: 100%;
    top: 32%;
    height: 68%;
    overflow: hidden;
    left: 58.5%;
}

.door-left {
    background: url("../images/door-left.png") no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0%;
}

.door-right {
    background: url("../images/door-right.png") no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
}

/*带花男孩*/
.slowFlolerWalk {
	animation: person-floler-slow 950ms infinite steps(1, start);
    -webkit-animation: person-floler-slow 950ms infinite steps(1, start);
	-moz-animation: person-floler-slow 950ms infinite steps(1, start);
	-ms-animation: person-floler-slow 950ms infinite steps(1, start);
}

/*带花*/
@keyframes person-floler-slow {
    0% {
        background-position: -453px -0px;
    }
    25% {
        background-position: -904px -0px;
    }
    50% {
        background-position: -451px -0px;
    }
    75% {
        background-position: -753px -0px;
    }
    100% {
        background-position: -300px -0px;
    }
}
@-webkit-keyframes person-floler-slow {
    0% {
        background-position: -453px -0px;
    }
    25% {
        background-position: -904px -0px;
    }
    50% {
        background-position: -451px -0px;
    }
    75% {
        background-position: -753px -0px;
    }
    100% {
        background-position: -300px -0px;
    }
}

@-moz-keyframes person-floler-slow {
    0% {
        background-position: -453px -0px;
    }
    25% {
        background-position: -904px -0px;
    }
    50% {
        background-position: -451px -0px;
    }
    75% {
        background-position: -753px -0px;
    }
    100% {
        background-position: -300px -0px;
    }
}
@-ms-keyframes person-floler-slow {
    0% {
        background-position: -453px -0px;
    }
    25% {
        background-position: -904px -0px;
    }
    50% {
        background-position: -451px -0px;
    }
    75% {
        background-position: -753px -0px;
    }
    100% {
        background-position: -300px -0px;
    }
}
.bird {
    background: url("../images/bird.png") 0 0 no-repeat;
    width: 91px;
    height: 71px;
    position: absolute;
    top: 10%;
    right: -10%;
    animation: bird-fly 400ms step-start infinite;
    -webkit-animation: bird-fly 400ms step-start infinite;
	-moz-animation: bird-fly 400ms step-start infinite;
	-ms-animation: bird-fly 400ms step-start infinite;
}
@keyframes bird-fly {
    0% {
        background: url("../images/bird.png") -182px 0 no-repeat;
    }
    50% {
        background: url("../images/bird.png") -91px 0 no-repeat;
    }
    75% {
        background: url("../images/bird.png") 0 0 no-repeat;
    }
    100% {
        background: url("../images/bird.png") -182px 0 no-repeat;
    }
}

@-webkit-keyframes bird-fly {
    0% {
        background: url("../images/bird.png") -182px 0 no-repeat;
    }
    50% {
        background: url("../images/bird.png") -91px 0 no-repeat;
    }
    75% {
        background: url("../images/bird.png") 0 0 no-repeat;
    }
    100% {
        background: url("../images/bird.png") -182px 0 no-repeat;
    }
}
@-moz-keyframes bird-fly {
    0% {
        background: url("../images/bird.png") -182px 0 no-repeat;
    }
    50% {
        background: url("../images/bird.png") -91px 0 no-repeat;
    }
    75% {
        background: url("../images/bird.png") 0 0 no-repeat;
    }
    100% {
        background: url("../images/bird.png") -182px 0 no-repeat;
    }
}
@-ms-keyframes bird-fly {
    0% {
        background: url("../images/bird.png") -182px 0 no-repeat;
    }
    50% {
        background: url("../images/bird.png") -91px 0 no-repeat;
    }
    75% {
        background: url("../images/bird.png") 0 0 no-repeat;
    }
    100% {
        background: url("../images/bird.png") -182px 0 no-repeat;
    }
}


.girl {
    background: url("../images/girl.png") -160px 0 no-repeat;
    width: 164px;
    height: 291px;
    position: absolute;
}

.boy_reset {
    background-position: -150px -0px;
}

.girl-rotate {
	animation: girl-rotate 850ms step-start 1;
	animation-fill-mode: forwards;
    -webkit-animation: girl-rotate 850ms step-start 1;
    -webkit-animation-fill-mode: forwards;
	-moz-animation: girl-rotate 850ms step-start 1;
    -moz-animation-fill-mode: forwards;
    -ms-animation: girl-rotate 850ms step-start 1;
    -ms-animation-fill-mode: forwards;
}
@keyframes girl-rotate {
    0% {
        background-position: -604px -0px
    }
    16.7% {
        background-position: -151px -0px
    }
    33.4% {
        background-position: -906px -0px
    }
    50.1% {
        background-position: -0px -0px
    }
    66.8% {
        background-position: -302px -0px
    }
    83.5% {
        background-position: -453px -0px
    }
    100% {
        background-position: -604px -0px
    }
}
@-webkit-keyframes girl-rotate {
    0% {
        background-position: -604px -0px
    }
    16.7% {
        background-position: -151px -0px
    }
    33.4% {
        background-position: -906px -0px
    }
    50.1% {
        background-position: -0px -0px
    }
    66.8% {
        background-position: -302px -0px
    }
    83.5% {
        background-position: -453px -0px
    }
    100% {
        background-position: -604px -0px
    }
}
@-moz-keyframes girl-rotate {
    0% {
        background-position: -604px -0px
    }
    16.7% {
        background-position: -151px -0px
    }
    33.4% {
        background-position: -906px -0px
    }
    50.1% {
        background-position: -0px -0px
    }
    66.8% {
        background-position: -302px -0px
    }
    83.5% {
        background-position: -453px -0px
    }
    100% {
        background-position: -604px -0px
    }
}
@-ms-keyframes girl-rotate {
    0% {
        background-position: -604px -0px
    }
    16.7% {
        background-position: -151px -0px
    }
    33.4% {
        background-position: -906px -0px
    }
    50.1% {
        background-position: -0px -0px
    }
    66.8% {
        background-position: -302px -0px
    }
    83.5% {
        background-position: -453px -0px
    }
    100% {
        background-position: -604px -0px
    }
}
.boy-rotate {
	animation: boy-rotate 850ms step-start 1;
	animation-fill-mode: forwards;
    -webkit-animation: boy-rotate 850ms step-start 1;
    -webkit-animation-fill-mode: forwards;
	-moz-animation: boy-rotate 850ms step-start 1;
    -moz-animation-fill-mode: forwards;
    -ms-animation: boy-rotate 850ms step-start 1;
    -ms-animation-fill-mode: forwards;
}
@keyframes boy-rotate {
    0% {
        background-position: -627px -291px;
    }
    20% {
        background-position: -444px -291px;
    }
    40% {
        background-position: -0px -0px;
    }
    60% {
        background-position: -910px -291px;
    }
    80% {
        background-position: -764px -291px;
    }
    100% {
        background-position: -627px -291px;
    }
}
@-webkit-keyframes boy-rotate {
    0% {
        background-position: -627px -291px;
    }
    20% {
        background-position: -444px -291px;
    }
    40% {
        background-position: -0px -0px;
    }
    60% {
        background-position: -910px -291px;
    }
    80% {
        background-position: -764px -291px;
    }
    100% {
        background-position: -627px -291px;
    }
}
@-moz-keyframes boy-rotate {
    0% {
        background-position: -627px -291px;
    }
    20% {
        background-position: -444px -291px;
    }
    40% {
        background-position: -0px -0px;
    }
    60% {
        background-position: -910px -291px;
    }
    80% {
        background-position: -764px -291px;
    }
    100% {
        background-position: -627px -291px;
    }
}
@-ms-keyframes boy-rotate {
    0% {
        background-position: -627px -291px;
    }
    20% {
        background-position: -444px -291px;
    }
    40% {
        background-position: -0px -0px;
    }
    60% {
        background-position: -910px -291px;
    }
    80% {
        background-position: -764px -291px;
    }
    100% {
        background-position: -627px -291px;
    }
}
.logo {
    /*background: url("../images/logo.png") no-repeat;*/
    width: 185px;
    height: 81px;
    position: absolute;
    left: 50%;
    margin-left: -72.5px;
    top: 30px;
	color:#fff;
	font-size:20px;
    display: none;
}

.logolightSpeedIn {
    display: block;
    animation-name: lightSpeedIn;
    animation-timing-function: ease-out;
    -webkit-animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;
    -moz-animation-name: lightSpeedIn;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 1s;
    -ms-animation-name: lightSpeedIn;
    -ms-animation-timing-function: ease-out;
    -ms-animation-duration: 1s;
}
@keyframes lightSpeedIn {
    0% {
		transform: translate3d(100%, 0, 0) skew(-30deg);
		-moz-transform: translate3d(100%, 0, 0) skew(-30deg);
        -webkit-transform: translate3d(100%, 0, 0) skew(-30deg);
		-ms-transform: translate3d(100%, 0, 0) skew(-30deg);
        opacity: 0;
		filter:alpha(0);
    }
    60% {
        transform: skew(20deg);
		-webkit-transform: skew(20deg);
		-moz-transform: skew(20deg);
		-ms-transform: skew(20deg);
        opacity: 1;
		filter:alpha(100);
    }
    80% {
        transform: skew(-5deg);
		-webkit-transform: skew(-5deg);
		-moz-transform: skew(-5deg);
		-ms-transform: skew(-5deg);
        opacity: 1;
		filter:alpha(100);
    }
    100% {
        transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
        opacity: 1;
		filter:alpha(100);
    }
}
@-webkit-keyframes lightSpeedIn {
    0% {
		transform: translate3d(100%, 0, 0) skew(-30deg);
		-moz-transform: translate3d(100%, 0, 0) skew(-30deg);
        -webkit-transform: translate3d(100%, 0, 0) skew(-30deg);
		-ms-transform: translate3d(100%, 0, 0) skew(-30deg);
        opacity: 0;
		filter:alpha(0);
    }
    60% {
        transform: skew(20deg);
		-webkit-transform: skew(20deg);
		-moz-transform: skew(20deg);
		-ms-transform: skew(20deg);
        opacity: 1;
		filter:alpha(100);
    }
    80% {
        transform: skew(-5deg);
		-webkit-transform: skew(-5deg);
		-moz-transform: skew(-5deg);
		-ms-transform: skew(-5deg);
        opacity: 1;
		filter:alpha(100);
    }
    100% {
        transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
        opacity: 1;
		filter:alpha(100);
    }
}
@-moz-keyframes lightSpeedIn {
    0% {
		transform: translate3d(100%, 0, 0) skew(-30deg);
		-moz-transform: translate3d(100%, 0, 0) skew(-30deg);
        -webkit-transform: translate3d(100%, 0, 0) skew(-30deg);
		-ms-transform: translate3d(100%, 0, 0) skew(-30deg);
        opacity: 0;
		filter:alpha(0);
    }
    60% {
        transform: skew(20deg);
		-webkit-transform: skew(20deg);
		-moz-transform: skew(20deg);
		-ms-transform: skew(20deg);
        opacity: 1;
		filter:alpha(100);
    }
    80% {
        transform: skew(-5deg);
		-webkit-transform: skew(-5deg);
		-moz-transform: skew(-5deg);
		-ms-transform: skew(-5deg);
        opacity: 1;
		filter:alpha(100);
    }
    100% {
        transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
        opacity: 1;
		filter:alpha(100);
    }
}
@-ms-keyframes lightSpeedIn {
    0% {
		transform: translate3d(100%, 0, 0) skew(-30deg);
		-moz-transform: translate3d(100%, 0, 0) skew(-30deg);
        -webkit-transform: translate3d(100%, 0, 0) skew(-30deg);
		-ms-transform: translate3d(100%, 0, 0) skew(-30deg);
        opacity: 0;
		filter:alpha(0);
    }
    60% {
        transform: skew(20deg);
		-webkit-transform: skew(20deg);
		-moz-transform: skew(20deg);
		-ms-transform: skew(20deg);
        opacity: 1;
		filter:alpha(100);
    }
    80% {
        transform: skew(-5deg);
		-webkit-transform: skew(-5deg);
		-moz-transform: skew(-5deg);
		-ms-transform: skew(-5deg);
        opacity: 1;
		filter:alpha(100);
    }
    100% {
        transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
        opacity: 1;
		filter:alpha(100);
    }
}
/*logo闪动*/
.logoshake {
	animation-name: logoshake;
	animation-duration: .5s;
    -webkit-animation-name: logoshake;
    -webkit-animation-duration: .5s;
    -moz-animation-name: logoshake;
    -moz-animation-duration: .5s;
    -ms-animation-name: logoshake;
    -ms-animation-duration: .5s;
}
@keyframes logoshake {
    0%, 100% {
        transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-5px, 0, 0);
		-webkit-transform: translate3d(-5px, 0, 0);
		-moz-transform: translate3d(-5px, 0, 0);
		-ms-transform: translate3d(-5px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
		-webkit-transform: translate3d(10px, 0, 0);
		-moz-transform: translate3d(10px, 0, 0);
		-ms-transform: translate3d(10px, 0, 0);
    }
}
@-webkit-keyframes logoshake {
    0%, 100% {
        transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-5px, 0, 0);
		-webkit-transform: translate3d(-5px, 0, 0);
		-moz-transform: translate3d(-5px, 0, 0);
		-ms-transform: translate3d(-5px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
		-webkit-transform: translate3d(10px, 0, 0);
		-moz-transform: translate3d(10px, 0, 0);
		-ms-transform: translate3d(10px, 0, 0);
    }
}
@-moz-keyframes logoshake {
    0%, 100% {
        transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-5px, 0, 0);
		-webkit-transform: translate3d(-5px, 0, 0);
		-moz-transform: translate3d(-5px, 0, 0);
		-ms-transform: translate3d(-5px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
		-webkit-transform: translate3d(10px, 0, 0);
		-moz-transform: translate3d(10px, 0, 0);
		-ms-transform: translate3d(10px, 0, 0);
    }
}
@-ms-keyframes logoshake {
    0%, 100% {
        transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-5px, 0, 0);
		-webkit-transform: translate3d(-5px, 0, 0);
		-moz-transform: translate3d(-5px, 0, 0);
		-ms-transform: translate3d(-5px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
		-webkit-transform: translate3d(10px, 0, 0);
		-moz-transform: translate3d(10px, 0, 0);
		-ms-transform: translate3d(10px, 0, 0);
    }
}

.bridge-bottom {
    position: absolute;
    bottom: 3%;
    left: 42%;
}

.water_1 {
    background: url("../images/water.png") -260px 0 no-repeat;
    width: 130px;
    height: 20px;
    position: relative;
    left: 3%;
    animation: water_1 12s linear infinite;
    -webkit-animation: water_1 12s linear infinite;
	-moz-animation: water_1 12s linear infinite;
	-ms-animation: water_1 12s linear infinite;
}
@keyframes water_1 {
    0% {
        left: 3%;
    }
    50% {
        left: 30%;
    }
    100% {
        left: 3%;
    }
}
@-webkit-keyframes water_1 {
    0% {
        left: 3%;
    }
    50% {
        left: 30%;
    }
    100% {
        left: 3%;
    }
}
@-moz-keyframes water_1 {
    0% {
        left: 3%;
    }
    50% {
        left: 30%;
    }
    100% {
        left: 3%;
    }
}
@-ms-keyframes water_1 {
    0% {
        left: 3%;
    }
    50% {
        left: 30%;
    }
    100% {
        left: 3%;
    }
}

.water_2 {
    background: url("../images/water.png") -693px 0 no-repeat;
    width: 168px;
    height: 34px;
    position: relative;
    right: -100px;
    animation: water_2 12s linear infinite;
    -webkit-animation: water_2 12s linear infinite;
	-moz-animation: water_2 12s linear infinite;
	-ms-animation: water_2 12s linear infinite;
}
@keyframes water_2 {
    0% {
        right: -100px;
    }
    50% {
        right: 50px;
    }
    100% {
        right: -100px;
    }
}
@-webkit-keyframes water_2 {
    0% {
        right: -100px;
    }
    50% {
        right: 50px;
    }
    100% {
        right: -100px;
    }
}
@-moz-keyframes water_2 {
    0% {
        right: -100px;
    }
    50% {
        right: 50px;
    }
    100% {
        right: -100px;
    }
}
@-ms-keyframes water_2 {
    0% {
        right: -100px;
    }
    50% {
        right: 50px;
    }
    100% {
        right: -100px;
    }
}

.water_3 {
    background: url("../images/water.png") 0px 0 no-repeat;
    width: 262px;
    height: 34px;
    position: relative;
    left: -100px;
    animation: water_3 10s linear infinite;
    -webkit-animation: water_3 10s linear infinite;
	-moz-animation: water_3 10s linear infinite;
	-ms-animation: water_3 10s linear infinite;
}
@keyframes water_3 {
    0% {
        left: -100px;
    }
    50% {
        left: 50px;
    }
    100% {
        left: -100px;
    }
}
@-webkit-keyframes water_3 {
    0% {
        left: -100px;
    }
    50% {
        left: 50px;
    }
    100% {
        left: -100px;
    }
}
@-moz-keyframes water_3 {
    0% {
        left: -100px;
    }
    50% {
        left: 50px;
    }
    100% {
        left: -100px;
    }
}
@-ms-keyframes water_3 {
    0% {
        left: -100px;
    }
    50% {
        left: 50px;
    }
    100% {
        left: -100px;
    }
}

.water_4 {
    background: url("../images/water.png") -390px 0 no-repeat;
    width: 303px;
    height: 27px;
    position: relative;
    right: -30px;
    animation: water_4 10s linear infinite;
    -webkit-animation: water_4 10s linear infinite;
	-moz-animation: water_4 10s linear infinite;
	-ms-animation: water_4 10s linear infinite;
}
@keyframes water_4 {
    0% {
        right: -30px;
    }
    50% {
        right: 30px;
    }
    100% {
        right: -30px;
    }
}
@-webkit-keyframes water_4 {
    0% {
        right: -30px;
    }
    50% {
        right: 30px;
    }
    100% {
        right: -30px;
    }
}
@-moz-keyframes water_4 {
    0% {
        right: -30px;
    }
    50% {
        right: 30px;
    }
    100% {
        right: -30px;
    }
}
@-ms-keyframes water_4 {
    0% {
        right: -30px;
    }
    50% {
        right: 30px;
    }
    100% {
        right: -30px;
    }
}
.stars {
    height: 31px;
}

.stars div {
    position: absolute;
    background: url("../images/stars.png") no-repeat;
    width: 30px;
    height: 31px;
}

.stars .stars1 {
    top: 20%;
    left: 30%;
    animation: start 5s linear 1s infinite;
	-moz-animation: start 5s linear 1s infinite;
    -webkit-animation: start 5s linear 1s infinite;
    -ms-animation: start 5s linear 1s infinite;
}

.stars .stars2 {
    top: 16%;
    left: 20%;
    animation: start 5s linear 2s infinite;
	-moz-animation: start 5s linear 2s infinite;
    -webkit-animation: start 5s linear 2s infinite;
    -ms-animation: start 5s linear 2s infinite;
}

.stars .stars3 {
    top: 26%;
    left: 22%;
    animation: start 5s linear 1s infinite;
    -webkit-animation: start 5s linear 1s infinite;
	-moz-animation: start 5s linear 1s infinite;
	-ms-animation: start 5s linear 1s infinite;
}

.stars .stars4 {
    top: 28%;
    left: 84%;
    animation: start 5s linear 2s infinite;
    -webkit-animation: start 5s linear 2s infinite;
	-moz-animation: start 5s linear 2s infinite;
	-ms-animation: start 5s linear 2s infinite;
}

.stars .stars5 {
    top: 30%;
    left: 70%;
    animation: start 5s linear 1s infinite;
    -webkit-animation: start 5s linear 1s infinite;
	-moz-animation: start 5s linear 1s infinite;
	-ms-animation: start 5s linear 1s infinite;
}

.stars .stars6 {
    top: 10%;
    left: 64%;
    animation: start 5s linear 2s infinite;
    -webkit-animation: start 5s linear 2s infinite;
	-moz-animation: start 5s linear 2s infinite;
	-ms-animation: start 5s linear 2s infinite;
}
@keyframes start {
    0% {
        opacity: 1;
		filter:alpha(100);
    }
    50% {
        opacity: 0;
		filter:alpha(0);
    }
    100% {
        opacity: 1;
		filter:alpha(100);
    }
}
@-webkit-keyframes start {
    0% {
        opacity: 1;
		filter:alpha(100);
    }
    50% {
        opacity: 0;
		filter:alpha(0);
    }
    100% {
        opacity: 1;
		filter:alpha(100);
    }
}
@-moz-keyframes start {
    0% {
        opacity: 1;
		filter:alpha(100);
    }
    50% {
        opacity: 0;
		filter:alpha(0);
    }
    100% {
        opacity: 1;
		filter:alpha(100);
    }
}
@-ms-keyframes start {
    0% {
        opacity: 1;
		filter:alpha(100);
    }
    50% {
        opacity: 0;
		filter:alpha(0);
    }
    100% {
        opacity: 1;
		filter:alpha(100);
    }
}
.snowRoll {
    position: absolute;
    animation-name: mysnow;
    animation-duration: 20s;
    -webkit-animation-name: mysnow;
    -webkit-animation-duration: 20s;
    -moz-animation-name: mysnow;
    -moz-animation-duration: 20s;
    -ms-animation-name: mysnow;
    -ms-animation-duration: 20s;
}
@keyframes mysnow {
    0% {
        transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
    }
    50% {
        transform: rotate(1080deg);
		-webkit-transform: rotate(1080deg);
		-moz-transform: rotate(1080deg);
		-ms-transform: rotate(1080deg);
    }
    100% {
        transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
    }
}
@-webkit-keyframes mysnow {
    0% {
        transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
    }
    50% {
        transform: rotate(1080deg);
		-webkit-transform: rotate(1080deg);
		-moz-transform: rotate(1080deg);
		-ms-transform: rotate(1080deg);
    }
    100% {
        transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
    }
}
@-moz-keyframes mysnow {
    0% {
        transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
    }
    50% {
        transform: rotate(1080deg);
		-webkit-transform: rotate(1080deg);
		-moz-transform: rotate(1080deg);
		-ms-transform: rotate(1080deg);
    }
    100% {
        transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
    }
}
@-ms-keyframes mysnow {
    0% {
        transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
    }
    50% {
        transform: rotate(1080deg);
		-webkit-transform: rotate(1080deg);
		-moz-transform: rotate(1080deg);
		-ms-transform: rotate(1080deg);
    }
    100% {
        transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
    }
}